body {
  background-color: floralwhite;
}

.chart-container {
  border-radius: 23px;
  flex-basis: 900px;
  padding: 23px;
  margin: 23px;
  align-self: stretch;
  background-color: white;
  box-shadow: 17px 13px 24px -7px rgba(168, 168, 168, 1);
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}